* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4c6378;
}

header {
    background-color: #004c8c;
    padding: 10px 0;
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #0264c8;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    width: 180px;
}

.dropdown-menu a {
    color: #333;
    padding: 10px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4
}

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #004c8c;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        display: none;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links a {
        padding: 15px;
    }

    .menu.active .nav-links {
        display: flex;
    }
}
